/********** FOOTER **********/
/********** FOOTER **********/
/********** FOOTER **********/

footer {
  padding: 5rem 0;
  background-color: var(--dark-blue);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons a {
  padding-right: 1rem;
}

.footer-links.uno {
  padding-top: 3rem;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links ul li {
  list-style: none;
  padding-bottom: 1.5rem;
}

.footer-links ul li a {
  color: var(--very-light-gray);
}

.footer-links ul li a:hover {
  color: var(--lime-green);
}

.footer-credit {
  text-align: center;
  padding-top: 3rem;
}